a {
  background-color: firebrick;
  margin: 30px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0; 
}

.wallets {
  display: flex;
  flex-direction: column;
  margin: 30px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 600px;
  cursor: default;
}

.wallets :last-child {
  border-radius: 0 0 10px 10px;
}

.header {
  display: flex;
  background-color: #0063B1;
  color: #fff;
  font-size: 20px;
  border-radius: 10px 10px 0 0;
  justify-content: space-around;
}

.content {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.content:hover {
  background-color: #eee;
}

.cell {
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.name {
  width: 30%;
}

.code {
  width: 15%;
}

.currency {
  width: 20%;
}

.balance {
  width: 20%;
}

.delete {
  width: 5%;
  color: firebrick;
}

.content .delete {
  cursor: pointer;
}

.no-wallets {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
}